swagger: "2.0"
info:
  description: "Bancor API"
  version: "0.1"
  title: "Bancor API"
host: "api.bancor.network"
basePath: "/0.1"
tags:
- name: "Available pairs API"
  description: "The “Pairs” API returns token pairs in the Bancor network"
  externalDocs:
    description: "Find out more"
    url: "https://support.bancor.network/hc/en-us/articles/360002262111-Available-Pairs-API"
- name: "Price Ticker API"
  description: "The “Ticker” API returns all relevant data (name, symbol, code, decimals, price 24h high, price 24h low, price, price 24h, volume 24h, total supply) for the specific pair."
- name: "Token Data API"
  description: "The “Tokens” API returns all the available data we have for the tokens on the Bancor network"
- name: "Price Discovery (value) API"
  description: "The “Price Discover” API returns the expected amount of tokens you will receive when executing a transaction of a certain size using the Bancor Price Discovery formula."
schemes:
- "https"
paths:
  /currencies/convertiblePairs:
    get:
      tags:
        - "Available pairs API"
      summary: "Add a new pet to the store"
      description: ""
      operationId: "convertiblePairs"
      produces:
        - "application/json"
      responses:
        "200":
          description: "A list of currency pairs"
          schema:
            type: object
            properties:
              data:
                type: object
                additionalProperties:
                  type: string
            example:
              data:
                BNT:
                  ETH
                STX:
                  BNT
                KICK:
                  BNT
        "405":
          description: "Invalid input"

  /currencies/{tokenCode}/ticker:
    get:
      tags:
        - "Price Ticker API"
      summary: "Return relevant data for a specific pair"
      parameters:
        - in: path
          name: tokenCode
          type: string
          required: true
          description: token currency code
        - in: query
          name: fromCurrencyCode
          type: string
          required: true
          description: from currency code          
      description: "The Ticker API returns all relevant data (name, symbol, code, decimals, price 24h high, price 24h low, price, price 24h, volume 24h, total supply) for the specific pair."
      operationId: "pairdata"
      produces:
        - "application/json"
      responses:
        "200":
          description: "A list of currency pairs"
          schema:
            type: object
            properties:
              data:
                type: object
                additionalProperties:
                  type: object
                  properties:
                    name:
                      type: string
                    symbol:
                      type: string
                    code:
                      type: string
                    decimals:
                      type: integer
                    price24hHigh:
                      type: number
                    price24hLow:
                      type: number
                    price:
                      type: number
                    price24h:
                      type: number
                    volume24h:
                      type: number
                    totalSupply:
                      type: number
            example:
              data:
                name:
                  Bancor
                symbol:
                  BNT
                code:
                  BNT
                decimals:
                  18
                totalSupply:
                  76144409802769222094564556
                price: 
                  0.006928393832718147
                volume24h:
                  3331656543586311766200
                price24h: 
                  0.0069663958745948325        
        "405":
          description: "Invalid input"
    
  /currencies/{TokenType}:
    get:
      tags:
        - "Token Data API"
      summary: "The Tokens API returns all the available data we have for the tokens on the Bancor network"
      parameters:
        - in: path
          name: TokenType
          type: string
          required: true
          description: from currency code          
        - in: query
          name: fromCurrencyCode
          type: string
          required: true
          description: from currency code          
        - in: query
          name: orderBy
          type: string
          required: true
          description: from currency code          
        - in: query
          name: sortOrder
          type: string
          required: true
          description: from currency code          
        - in: query
          name: limit
          type: integer
          required: true
          description: from currency code          
        - in: query
          name: skip
          type: integer
          required: true
          description: from currency code          
        - in: query
          name: includeTotal
          type: string
          required: true
          description: from currency code          
      description: "The “Tokens” API returns all the available data we have for the tokens on the Bancor network"
      operationId: "tokendata"
      produces:
        - "application/json"
      responses:
        "200":
          description: "A list of currency pairs"
          
          # TODO START
          
          schema: 
            type: object
            properties:
              data:
                type: object
                additionalProperties:
                  type: object
                  properties:
                    name:
                      type: string
                    symbol:
                      type: string
                    code:
                      type: string
                    decimals:
                      type: integer
                    price24hHigh:
                      type: number
                    price24hLow:
                      type: number
                    price:
                      type: number
                    price24h:
                      type: number
                    volume24h:
                      type: number
                    totalSupply:
                      type: number
          
            # TODO END  
          
            example:
              data:
                currencies:
                  page:
                    - _id: 
                        594bb7e468a95e00203b048d
                      symbol:
                        BNT
                      type:
                        ethereum
                      details: 
                          type: 
                            bancor
                          subType: 
                            smart
                          contractAddress: 
                            0x1f573d6fb3f13d689ff844b4ce37794d79a7ff1c
                          supply: 
                            74775281083523725963087643
                          changer: 
                              type: 
                                bancor
                              version: 
                                0.4
                              contractAddress: 
                                0xb626a5facc4de1c813f5293ec3be31979f1d1c78
                              isActive: 
                                true
                              activatedAt: 
                                2017-06-22T07:00:00.000Z
                          reserves: 
                              5937d635231e97001f744267: 
                                  contractAddress: 
                                    0xc0829421c1d260bd3cb3e0f06cfe2d52db2ce315
                                  currencySymbol: 
                                    Ξ
                                  ratio: 
                                    100000
                                  numDecimalDigits: 
                                    18
                                  balance: 
                                    44001842276537681939982
                                    
                      status: 
                        published
                      stage: 
                        traded
                      createdAt: 
                        2017-06-22T07:00:00.000Z
                      numDecimalDigits: 
                        18
                      primaryCommunityId: 
                        5967699a4a93370018b7b891
                      primaryCommunityImageName: 
                        f80f2a40-eaf5-11e7-9b5e-179c6e04aa7c.png
                      code: 
                        BNT
                      name: 
                        Bancor
                      isDeleted: 
                        false
                      order: 
                        300
                      isDiscoverable: 
                        true
                      originalCurrencyId: 
                        594bb7e468a95e00203b048d
                      price: 
                        0.005601948072580547
                      change24h: 
                        -0.6927365621230122
                      priceHistory: 
                        - 0.005402214902240569
                        - 0.005395380959829653
                        - 0.0054027228791513554
                        - 0.0054169721726570474
                        - 0.0054272558732494725
                        - 0.0054234447922943
                        - 0.0054256918705245655
                        - 0.005419196473339037
                        - 0.0054195260470858726
                        - 0.00542393109888581
                        - 0.005433983220550033
                        - 0.005435785025313575
                        - 0.005435071993213968
                        - 0.0054502152560918435
        "405":
          description: "Invalid input"
        